/* カラー変数定義 */
:root {
  --color-background-primary: #141414;
  --color-background-secondary: #fff;
  --color-background-card: #fff;
  --color-background-card-selected: #e3f2fd;
  --color-background-image-placeholder: #f5f5f5;

  --color-text-primary: #fff;
  --color-text-secondary: #666;
  --color-text-tertiary: #141414;

  --color-border-default: #e0e0e0;
  --color-border-selected: #18a0fb;
  --color-border-hover: #18a0fb;

  --color-brand-primary: #DE5C32;
  --color-brand-secondary: #F7F5E0;

  --color-shadow-hover: 0 8px 24px rgba(0, 0, 0, 0.9);
  --color-shadow-default: 0 2px 8px rgba(0, 0, 0, 0.1);

  --color-accent-primary: #18a0fb;

  /* フォント設定 */
  --font-family-primary: "menlo";
  --font-family-code: "SF Mono", Monaco, "Cascadia Code", "Roboto Mono",
    Consolas, "Courier New", monospace;
}

body {
  font-family: var(--font-family-primary);
}

.container {
  overflow: auto;
  height: 164px;
}

.editor {
  min-height: 100%;
  font-family: var(--font-family-code);
  font-size: var(--font-size-12);
}
